.container {
  font-family: var(--font-primary);
  cursor: pointer;
}
.containerNotSelected {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  background-color: #ffff;
  margin: 5px;
  height: 300px;
  width: 60px;
  border-radius: 10px;
  transition: width 1s;
}
.containerNotSelected div {
  width: 300px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: rotate(-90deg);
}

.containerSelected {
  background-color: #ffff;
  margin: 5px;
  height: 300px;
  width: 300px;
  border-radius: 10px;
  animation: 6s linear pulseShadow infinite;
  transition: width 1s;
}
.containerSelected div {
  width: 300px;
 
  position: relative;
}
@keyframes pulseShadow {
  100% {
    box-shadow: 0 0 9px -1.5px white, 0 0 30px -5px #36cfd0;
  }
  50% {
    box-shadow: 0 0 9px -3px white, 0 0 30px -10px #36cfd0;
  }
  0% {
    box-shadow: 0 0 9px -1.5px white, 0 0 30px -5px #36cfd0;
  }
}

@media (max-width: 926px) {
  .containerNotSelected {
    height: 60px;
    width: 70vw;
    transition: height 1s;
  }
  .containerSelected {
    width: 70vw;
    height: 300px;
    transition: height 1s;
  }
  .containerSelected div {
    position: sticky;
  }
  .containerNotSelected div {
    transform: none;
  }
}
