@import url("https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400;500;600;700;800&family=Josefin+Slab:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600&family=Mulish:ital,wght@0,200;0,300;0,400;0,500;1,200;1,300;1,400;1,500&display=swap");
:root {
  --font-primary: "Eudoxus Sans", serif;
  --font-secondary: "Josefin Slab", serif;
  --font-action: "Muli", serif;
  --primary-100:#0D6E6E;
  --primary-200:#4a9d9c;
  --primary-300:#afffff;
  --accent-100:#FF3D3D;
  --accent-200:#ffe0c8;
  --text-100:#FFFFFF;
  --text-200:#e0e0e0;
  --bg-100:#0D1F2D;
  --bg-200:#1d2e3d;
  --bg-300:#354656;
}

html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    font-size: 14px;
    background-color: var(--bg-100);
    overflow-x: clip;

}
a {
  color: inherit;
  text-decoration: none;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

}

  
/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: --primary-200  #ffffff00;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 8px;
  }


  *::-webkit-scrollbar-thumb {
    background-color: var(--primary-100);
    border-radius:20px;
    border: 1px solid var(--text-200);
  }