.carrousel {
  width: 88%;
  border-left: 2px solid #36cfd0;
  border-right: 2px solid #36cfd0;
  padding: 15px 0;
}

.innerCarrousel {
  align-items: center;
  justify-content: center;
}

.cardCarrousel {
  background-color: rgb(250, 225, 215);
  width: 330px;
  height: 360px;
  margin: 0 20px;
  border: 1px solid #2d2e2e;
  border-radius: 10px;
  animation: 5s linear pulseShadow infinite;
}
@keyframes pulseShadow {
  100% {
    box-shadow: 0 0 9px -1.5px white, 0 0 50px -15px #36cfd0;
  }
  50% {
    box-shadow: 0 0 9px -3px white, 0 0 50px -30px #36cfd0;
  }
  0% {
    box-shadow: 0 0 9px -1.5px white, 0 0 50px -15px #36cfd0;
  }
}
.innerCarrousel .swiper-pagination-bullet {
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  font-size: 12px;
  color: #000;
  opacity: 1;
  background: rgba(0, 0, 0, 0.2);
}

.innerCarrousel .swiper-pagination-bullet-active {
  color: #fff;
  background: #007aff;
}
